main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #eee;
    margin-top: 40px  ;
    border-radius: 8px;
    text-align: center;
} 
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    
}
figure{
    background-color: white;
}
h1{
    font-size: 4rem;
}
#img-caption{
 padding: 10px;
 margin-bottom: 15px;
}
#life{
    margin:28px 0 44px 0;
    text-align: center;
    font-weight: bold;
    font-size: 1.17em;
}
#tribute-info ul li{
    max-width: 550px;
    line-height:1.5 ;
    padding: 10px;
    margin: auto;
    text-align: start;
    justify-content: center;
    margin-left: 28em;
    font-size:17px;
}
#last-p{
    width: 25%;
    margin-left: 31em; 
    text-align: center;
    font-style: italic;
}
#one{
    margin:28px 0 44px 0;
    text-align: center;
    font-size: 18px;
}
a{
    color: #477ca7;
    font-weight: bold;
    margin-left: 14px;
}





    




